<%- include('../includes/head.ejs') %>

<body>
<%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/add-product" method="POST">
            <div class="form-control">
                <label for="title">Название</label>
                <input type="text" name="title" id="title">
                <label for="price">Цена</label>
                <input type="text" name="price" id="price">
                <label for="desc">Описание</label>
                <input type="text" name="desc" id="desc">
            </div>

            <button class="btn" type="submit">Add Product</button>
        </form>
    </main>

<%- include('../includes/end.ejs') %>